.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.wrapper {
  display: flex;
  flex-direction: row;
  max-height: 600px;
}

.wrapper .ui.segment {
  min-width: 300px;
  width: 50%;
  margin: 20px;
}
